@import url('./form.css');
@import url('./tarot.css');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{    
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

html{
    background-color: indigo;
    background-image: linear-gradient(purple, indigo);
    min-height: 100%;
}

app{
    display: block;
    padding: 9px;
    border-radius: 3px;
    overflow-y: auto;
    max-height: calc(100% - 18px);
    background-image: linear-gradient(#e4c4e4, violet);
}

@media screen and (min-width: 1200px){
    app{
        width: 81%;
        margin: 0 9%;
    }
    
    .d-flex{
        display: flex;
        flex-wrap: wrap;
    }

    .d-flex > section{
        width: 50%;
    }
    
    .d-flex > section.long{
        width: 100%;
    }

    .m{
        display: none !important;
    }

    hr.m{
        margin: 3px 0;
    }
}

hr.m{
    border: 0px solid transparent;
}

.hidden{
    display: none !important;
}

.header{
    display: block;
    font-size: 1.8em;
    margin-top: 6px;
    margin-bottom: 12px;
}

.p-header{
    display: block;
    font-size: 1.2em;
    margin-top: 6px;
    margin-bottom: 12px;
}

.cap{
    text-transform: capitalize;
}

.panel{
    display: block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.06);
    padding: 9px;
    border-radius: 9px;
}

@media screen and (max-width: 1200px){
    .panel{
        min-height: 60px;
    }
}

.fixed-btn{
    width: 126px;
    font-weight: bold;
    padding: 9px;
    border-radius: 9px;
    border: 0px solid transparent;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    background-color: indigo;
    color: white;
}

.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 21px;
    font-size: 1.2em;
}

.right{
    display: flex;
    justify-content: flex-end;
}

.center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.space-between{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}