@import url('./form.css');
@import url('./modal.css');
@import url('./tarot.css');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{    
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

html{
    background-color: indigo;
    background-image: linear-gradient(purple, indigo);
    min-height: 100%;
}

app{
    display: block;
    padding: 9px;
    border-radius: 3px;
    overflow-y: auto;
    max-height: calc(100% - 18px);
    background-image: linear-gradient(#e4c4e4, violet);
}

@media screen and (min-width: 1200px){
    app{
        width: 81%;
        margin: 0 9%;
    }
    
    .d-flex{
        display: flex;
        flex-wrap: wrap;
    }

    .d-flex > section{
        width: 50%;
    }
    
    .d-flex > section.long{
        width: 100%;
    }

    .m{
        display: none !important;
    }

    hr.m{
        margin: 3px 0;
    }
}

hr.m{
    border: 0px solid transparent;
}

.hidden{
    display: none !important;
}

.header{
    display: block;
    font-size: 1.8em;
    margin-top: 6px;
    margin-bottom: 12px;
}

.p-header{
    display: block;
    font-size: 1.2em;
    margin-top: 6px;
    margin-bottom: 12px;
}

.cap{
    text-transform: capitalize;
}

.panel{
    display: block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.06);
    padding: 9px;
    border-radius: 9px;
}

@media screen and (max-width: 1200px){
    .panel{
        min-height: 60px;
    }
}

.fixed-btn{
    width: 69px;
    font-weight: bold;
    padding: 9px;
    border-radius: 9px;
    border: 0px solid transparent;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    background-color: indigo;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.fixed-btn:hover{
    background-color: purple;    
}

.nav-link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 9px 21px;
    font-size: 1.2em;
    background: transparent;
    border: none;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    transition: .3s;
}

.nav-link:hover{
    background: rgba(0,0,0,0.09);
    border-radius: 9px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.21);
}

.right{
    display: flex;
    justify-content: flex-end;
}

.center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.space-between{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text-center{
    text-align: center;
}

.v-center{
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1000px){   
    .row{
        display: flex;
    }

    .row > div{
        width: 100%;
    }
}

.landing-card{
    padding: 9px;
    margin: 9px;
    background-color: rgba(255,255,255,0.42);
    border-radius: 3px;
    animation: landing-card 1s;
}

@keyframes landing-card{
    0%{
        transform: translateX(-30px);
        opacity: .6;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.billboard{
    padding: 0 12%;
    font-size: 1.32em;
}

.logo{
    margin-right: 18px;
    width: 64px;
}

@media screen and (max-width: 800px){   
    .logo{
        margin-right: 9px;
        width: 32px;
    }
    .d{
        display: none!important;
    }

    .landing-flyer{
        width: 100%;
    }
}

.landing-flyer{
    border-radius: 9px;
    box-shadow: 0 13px 15px rgba(0, 0, 0, 0.21);
    transition: .3s;
}

.landing-flyer:hover{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.42);
    transform: translateY(-9px);
}