.tarot-container{
    display: inline-block;
}

.tarot-img{
    border-radius: 9px;
    max-width: 100%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.tarot-container{
    padding: 6px;
    margin: 6px;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.03);
}

.reversed{
    transform: rotate(180deg);
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1000px){
    .tarot-container{
        padding: 21px;
    }
}

@media screen and (min-width: 1000px){
    .tarot-container{
        width: 30%;
    }
}

@media screen and (min-width: 1800px){
    .tarot-desc{
        height: 222px;
    }
}

@media screen and (min-width: 2000px){
    .tarot-container{
        width: 21%;
    }

    .tarot-img{    
        max-width: 333px;
    }
}